.spacer {
  flex: 1 1 auto;
}
.container {
  height: 100%;
}
.sidenav-content {
  width: 100%;
}
.sidenav {
  user-select: none;
  background-color: #3f51b5;
}
.full-width {
  width: 100%;
}
.button {
  color: aliceblue;
}
.button-icon {
  margin-right: 16px;
}
